@import '../base/Colors.scss';

#notifications {
    position: relative;
    .notifications-items {
        position: absolute;
        width: 200px;
        top: 50px;
        right: 13px;
        background-color: $primary;
        border: 5px solid $secondary;
        &::before {
            content:"";
            display : inline-block;
            height : 0;
            width : 0;
            border-bottom : 15px solid $secondary;
            border-left : 15px solid transparent;
            position: absolute;
            right: -5px;
            top: -20px;
        }
        .notification-item {
            font-size: 14px;
            padding: 5px;
            cursor: pointer;
            &:not(:last-child) {
                border-bottom: 1px solid $secondary;
            }
            .notification-item-from {
                color: $secondary;
                font-weight: 800;
            
            }
        }
    }
}